<?xml version="1.0" encoding="utf-8"?>
<!-- Copy to Backend\admin\web.config. Bind this IIS site to loopback only. -->
<configuration>
  <system.webServer>
    <defaultDocument enabled="false" />
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="GenericSqlAdminPhpFastCgi" />
      <add name="GenericSqlAdminPhpFastCgi" path="*.php" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\PHP\php-cgi.exe" resourceType="File" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <clear />
        <rule name="Allow Admin public files" stopProcessing="true">
          <match url="^(?:api\.php|assets/(?:admin\.css|admin\.js|service-controls\.css))$" />
          <action type="None" />
        </rule>
        <rule name="Redirect Admin root" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/admin" redirectType="Found" />
        </rule>
        <rule name="Route Admin pages" stopProcessing="true">
          <match url="^admin(?:/.*)?$" />
          <action type="Rewrite" url="index.php" />
        </rule>
        <rule name="Reject non-public Admin paths" stopProcessing="true">
          <match url=".*" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <ipSecurity allowUnlisted="false">
        <clear />
        <add ipAddress="127.0.0.1" allowed="true" />
        <add ipAddress="::1" allowed="true" />
      </ipSecurity>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".ini" allowed="false" />
          <add fileExtension=".json" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
  </system.webServer>
</configuration>
